APCA_API_KEY_ID = {YOUR_ALPACA_API_KEY_ID}
APCA_API_SECRET_KEY = {YOUR_ALPACA_SECRET_KEY}
SP500_CLOSE_CSV_PATH = /data/sp500_close_current.csv
ENVIRONMENT = local

API_ROUTE = http://localhost:5000

AWS_ACCESS_KEY_ID = {AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY = {AWS_SECRET_ACCESS_KEY}
AWS_REGION = eu-central-1
AWS_ATHENA_DB = portfolio-management-db
AWS_S3_STAGING_DIR = {S3_STAGING_DIR}
