# Python environment
env
.env
venv/
.venv/

# Python
**/__pycache__/

cred/
.*.pem
# VS Code
.vscode/

# Docs
docs/_build/
docs/_static/
docs/_templates/

# Data
data/
.*.jpeg

# Flask sessions
flask_session/

app.db
market.db


notes.md