# Python environment
env
.env
venv/
.venv/

# Python
**/__pycache__/

cred/
.*.pem
# VS Code
.vscode/

# Docs
docs/_build/
docs/_static/
docs/_templates/

# Data
data/
.*.jpeg

# Flask sessions
flask_session/
notebooks/

.*.db
app.db
market.db
market_minute.db
market_copy.db

notes.md

# Backup files
*.orig

# CI/CD secrets
scripts/cicd.secrets
scripts/pipeline.json

# macOS
.DS_Store