alpaca-py
altair
annotated-types
asttokens
attrs
Authlib
awswrangler
beautifulsoup4
blinker
boto3
botocore
cachelib
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
curl_cffi
cycler
debugpy
decorator
et_xmlfile
executing
Flask
Flask-Caching
flask-cors
Flask-Session
fonttools
frozendict
fsspec
gitdb
GitPython
greenlet
gunicorn
html5lib
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jmespath
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
msgpack
msgspec
multitasking
narwhals
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
peewee
pillow
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
PyAthena
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
referencing
requests
rpds-py
s3transfer
scipy
sentry_sdk
setuptools
six
smmap
soupsieve
SQLAlchemy
sseclient-py
stack-data
tabulate
tenacity
toml
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
wcwidth
webencodings
websockets
Werkzeug
yfinance
pytest
