
{% from 'components/metrics.html' import MetricCard %}
{% from 'components/simulation.html' import SimulationPanel%}
{% from 'components/positions.html' import PositionsContainer%}
{% from 'components/purchase_simulation.html' import PurchaseSimulationPanel %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid p-3">
            <a class="navbar-brand fs-2 fw-bold" href="#">Dashboard</a>
        </nav>

        <main class="container-fluid">
            <div class="row min-vh-100 g-3">

                <!-- Sidebar -->
                <aside class="col-12 col-lg-2 d-flex flex-column gap-3">
                    <div class="bg-dark-subtle rounded p-3 h-50">
                        <h5 class="mb-3">Portfolios</h5>

                        <form method="get">
                            <select class="form-select" name="portfolio" onchange="this.form.submit()">
                                {% for key, data in portfolios.items() %}
                                    <option
                                        value="{{ key }}"
                                        {% if key == selected_key %}selected{% endif %}
                                    >
                                        {{ key.split("/")[-1] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>

                        <div class="mt-4 pt-3 border-top">
                            <h5 class="mb-3">Upload Portfolio</h5>
                            <div class="mb-3">
                                <label for="portfolioUpload" class="form-label small text-secondary">Choose a JSON file</label>
                                <input class="form-control form-control-sm" type="file" id="portfolioUpload" accept=".json">
                            </div>
                            <div id="uploadStatus" class="small mt-2"></div>
                        </div>



                    </div>

                 <div class="bg-dark-subtle rounded p-3">
                    {{ PurchaseSimulationPanel() }}
                </div>
                </aside>

                <!-- Main Content -->
                <section class="col-12 col-lg-10">
                    <div class="row g-3">

                        <!-- Main Chart -->
                        <div class="col-12 col-lg-8">
                            <h4 class="mb-3">
                               Portfolio: {{ selected_key.split('/')[-1] if selected_key else "No Portfolio Selected" }}
                            </h4>
                            <div class="bg-dark-subtle rounded p-3 h-100">
                                <div id="main-chart" class="container-fluid p-0"></div>
                            </div>
                        </div>

                        <!-- Positions -->

                        <div class="col-12 col-lg-4">
                            {{
                                PositionsContainer(positions)
                            }}
                            {{
                                SimulationPanel(initial_cash, leverage_limit)
                            }}
                        </div>
                    </div>

                    <!-- Metrics -->
                    <h2 class="mt-5">Portfolio Metrics</h2>

                    <div class="row g-3 mb-3">
                        {{ MetricCard("Total Return", metrics.total_return, id="kpi-total-return") }}
                        {{ MetricCard("Total Value", metrics.total_value, id="kpi-total-value") }}
                        {{ MetricCard("Cash", metrics.cash, id="kpi-cash") }}
                        {{ MetricCard("Volatility", metrics.volatility, id="kpi-volatility") }}
                    </div>
                    <div class="row g-3 mb-3">
                        {{ MetricCard("Sharpe Ratio", metrics.sharpe, id="kpi-sharpe") }}
                        {{ MetricCard("Jensen's Alpha", metrics.alpha, id="kpi-alpha") }}
                        {{ MetricCard("Beta", metrics.beta, id="kpi-beta") }}
                        {{ MetricCard("Max Drawdown", metrics.max_drawdown, id="kpi-max-drawdown") }}
                    </div>
                    <div class="row g-3 mb-3">
                        {{ MetricCard("CAGR", metrics.cagr, id="kpi-cagr") }}
                    </div>

                </section>
            </div>
        </main>

        <footer></footer>

        <script src="https://cdn.plot.ly/plotly-3.2.0.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        
        <script>
            const NAV_TS = {{ nav_ts | tojson }};
        </script>

        <script src="/script/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>
</html>
